USE [master]
GO
/****** Object:  Database [StudentCourse]    Script Date: 25.04.2022 0:34:25 ******/
CREATE DATABASE [StudentCourse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentCourse', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\StudentCourse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentCourse_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\StudentCourse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentCourse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentCourse]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 25.04.2022 0:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentsId] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 25.04.2022 0:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [StudentsId], [StartDate], [EndDate]) VALUES (1, 1, CAST(N'2022-04-04' AS Date), CAST(N'2022-04-08' AS Date))
INSERT [dbo].[Courses] ([Id], [StudentsId], [StartDate], [EndDate]) VALUES (3, 1, CAST(N'2022-04-11' AS Date), CAST(N'2022-04-15' AS Date))
INSERT [dbo].[Courses] ([Id], [StudentsId], [StartDate], [EndDate]) VALUES (4, 2, CAST(N'2022-01-10' AS Date), CAST(N'2022-01-14' AS Date))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FullName], [Email]) VALUES (1, N'Николай Гочнаров', N'Gonhcarov@gmai.com')
INSERT [dbo].[Students] ([Id], [FullName], [Email]) VALUES (2, N'Андрей Смирнов', N'Smirnov@gmail.com')
INSERT [dbo].[Students] ([Id], [FullName], [Email]) VALUES (5, N'Ольга Сусликова', N'hgfhfhj35@gmai.com')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__A9D10534B69F94A4]    Script Date: 25.04.2022 0:34:26 ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([StudentsId])
REFERENCES [dbo].[Students] ([Id])
GO
USE [master]
GO
